.pydevproject
.project

# Ignore Python bytecode
__pycache__
*.pyc
*.pyo

/.pytest_cache/
/ecl.txt
/.coverage

quality/html_coverage
src_tests/tests/test_log*.txt
src/proto/data
/RadioShower.code-workspace
