asdf
asdf-standard
asdf-transform-schemas
asdf-unit-schemas
attrs
contourpy
cycler
fonttools
h5py
importlib-metadata
importlib-resources
jmespath
jsonschema
kiwisolver
matplotlib
numpy
packaging
Pillow
pyparsing
pyrsistent
python-dateutil
PyYAML
scipy
semantic-version
six
zipp
